node_modules

out
dist
*.tgz

coverage
.nyc_output
*.lcov

*.log

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache
.cache
.bun
*.tsbuildinfo

.idea
.vscode

.DS_Store
Thumbs.db

bun.lockb

junit.xml
